html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Kanit", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }

  p,
  li {
    text-align: center;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color:rgb(118, 80, 180);
    text-shadow: 3px 3px 3px #9d0000;
  }

  li {
    color: rgb(223, 75, 104);
    text-shadow: 3px 3px 3px #b5182a;
  }

  html {
    background-color: #090e29
  }

  h1 {
    margin: 0;
    padding: 15px 0;
    color: rgb(118, 80, 180);
    text-shadow: 4px 4px 4px #9d0000;
  }

  img {
    display: block;
    margin: 0 auto;
    border: 3px solid #9d0000;
    width: 600px;
  }

  a.home {
    display: block;
    margin: 0px auto;
    margin-bottom: 33px;
    color: rgb(0, 255, 234);
    font-size: 18px;
  }

  a.invite {
    display: block;
    font-size:24px;
    color: rgb(118, 80, 180);
    margin: -30px auto;
  }

  a.ICICI {
    display: block;
    font-size:24px;
    margin: 0px auto;
    width: 400px;
    color: rgb(118, 80, 180);
  }