html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Kanit", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }

  h1 {
    font-size: 60px;
    text-align: center;
  }

  p,
  li {
    text-align: center;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color:rgb(118, 80, 180);
    text-shadow: 1px 1px 1px #000000;
  }

  li {
    color: rgb(204, 75, 101);
    text-shadow: 1px 1px 1px #A20B1C;
  }

  html {
    background-color: #717cb9
  }

  body {
    width: 1600px;
    margin: 0 auto;
    background-color: #8481bd;
    padding: 80px 70px 700px 70px;
    border: 3px solid #163A45;
  }

  h1 {
    margin: 0;
    padding: 15px 0;
    color: #8d1313;
    text-shadow: 2px 2px 1px #0e0505;
  }

  img {
    display: block;
    margin: 0 auto;
    border: 3px solid rgb(62, 97, 138);
    width: 600px;
  }